<ion-menu slot="start" contentId="content1">
  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="'/bikes'">Bikes</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="'/accessories'">Accessories</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item [routerLink]="'/orders'" *ngIf="isLoggedIn()">My orders</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item (click)="logOut()" [routerLink]="'/login'" *ngIf="isLoggedIn()">Logout</ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle auto-hide="true">
        <ion-item (click)="logIn()" [routerLink]="'/login'" *ngIf="isNotLoggedIn()">Login</ion-item>
      </ion-menu-toggle>

    </ion-list>
  </ion-content>

</ion-menu>
