<app-navbar [pageName]="'Edit Accessory'"></app-navbar>
<ion-content>
  <div class="form-wrapper">
    <form>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="product.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Price</ion-label>
        <ion-input type="text" [(ngModel)]="product.price" name="price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="product.quantity" name="quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Short description</ion-label>
        <ion-input type="text" [(ngModel)]="product.shortDescription" name="shortDescription"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>AccessoryType</ion-label>
        <ion-select interface="popover" [(ngModel)]="product.accessoryType" name="category">
          <ion-select-option *ngFor="let option of ACCESSORY_TYPES" [value]="option">
            {{option}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-button color="medium" (click)="editAccessory(product)">Edit accessory</ion-button>
  <ion-button color="medium" [routerLink]="'/accessories'">Back to accessories</ion-button>
</ion-footer>
