<app-navbar [pageName]="'Add Order'"></app-navbar>
<ion-content>
  <div class="form-wrapper">
    <form>
      <ion-item>
        <ion-label>ProductCode</ion-label>
        <ion-select interface="popover" [(ngModel)]="order.productCode" name="productCode">
          <ion-select-option *ngFor="let option of productCodes" [value]="option">
            {{option}}
          </ion-select-option>
        </ion-select>
      </ion-item>
<!--      <ion-item>-->

<!--        <ion-label>Cardholder name</ion-label>-->
<!--        <ion-input type="text" [(ngModel)]="order.cardHolderName" name="cardHolderName"></ion-input>-->
<!--      </ion-item>-->
<!--&lt;!&ndash;      <ion-item>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-label>Card number</ion-label>&ndash;&gt;-->
<!--&lt;!&ndash;        <ion-input type="number" [(ngModel)]="order.cardNumber" name="cardNumber"></ion-input>&ndash;&gt;-->
<!--      </ion-item>-->
      <!--      <ion-item>-->
      <!--        <ion-label>Cvv code</ion-label>-->
      <!--        <ion-input type="text" [(ngModel)]="order.cvvCode" name="cvvCode"></ion-input>-->
      <!--      </ion-item>-->
      <!--      <ion-item>-->
      <!--        <ion-label>Expiration Date</ion-label>-->
      <!--        <ion-input type="text" [(ngModel)]="order.expirationDate" name="expirationDate"></ion-input>-->
      <!--      </ion-item>-->
      <!--      <ion-item>-->
      <!--        <ion-label>CardType</ion-label>-->
      <!--        <ion-select interface="popover" [(ngModel)]="order.cardType" name="cardType">-->
      <!--          <ion-select-option *ngFor="let option of CARD_TYPES" [value]="option">-->
      <!--            {{option}}-->
      <!--          </ion-select-option>-->
      <!--        </ion-select>-->
      <!--      </ion-item>-->
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="addOrder()" color="medium">Add order</ion-button>
  <br>
  <ion-button color="secondary" [routerLink]="'/orders'" color="medium">Back to orders</ion-button>
</ion-footer>
