<app-navbar [pageName]="'Products'"></app-navbar>

<ion-content>
  <ion-title class="ion-text-right" *ngIf="isLoggedIn()">Hi, {{name}}!</ion-title>
  <ion-list>
    <ion-item *ngFor="let product of products; let i = index">
      <ion-label>
        {{i + 1}}
      </ion-label>
      <ion-label>
        name: {{product.name}}
      </ion-label>
      <ion-label>
        price: {{product.price}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button (click)="addBike()" color="medium" *ngIf="isLoggedInAndHasRole()">Add bike</ion-button><br>
  <ion-button (click)="addAccessory()" color="medium" *ngIf="isLoggedInAndHasRole()">Add accessory</ion-button><br>
</ion-footer>


