<app-navbar [pageName]="'REGISTER'"></app-navbar>

<ion-content>
  <div class="form-wrapper">
    <form>
      <ion-item>
        <ion-label>Firstname</ion-label>
        <ion-input [(ngModel)]="registerData.firstName" name="firstName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Lastname</ion-label>
        <ion-input [(ngModel)]="registerData.lastName" name="lastName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Username</ion-label>
        <ion-input [(ngModel)]="registerData.username" name="username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email</ion-label>
        <ion-input [(ngModel)]="registerData.email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Password</ion-label>
        <ion-input type="password" [(ngModel)]="registerData.password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Role</ion-label>
        <ion-select interface="popover" [(ngModel)]="registerData.role" name="roles">
          <ion-select-option *ngFor="let option of ROLES" [value]="option">
            {{option}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-button (click)="register()" color="medium">Register</ion-button>
    </form>
  </div>
</ion-content>

