<app-navbar [pageName]="'Add Accessory'"></app-navbar>
<ion-content>
  <div class="form-wrapper">
    <form>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" [(ngModel)]="product.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Price</ion-label>
        <ion-input type="text" [(ngModel)]="product.price" name="price"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Quantity</ion-label>
        <ion-input type="number" min="1" max= "100" [(ngModel)]="product.quantity" name="quantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Short description</ion-label>
        <ion-input type="text" [(ngModel)]="product.shortDescription" name="shortDescription"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <!--        <ion-select [(ngModel)]="product.category" name="category">-->
        <!--          <ion-select-option *ngFor="let option of CATEGORIES" value="{{defaultCategory}}">-->
        <!--            {{option}}-->
        <!--          </ion-select-option>-->
        <!--        </ion-select>-->
        <ion-select interface="popover" [(ngModel)]="product.category" name="category">
          <ion-select-option selected = 'true' *ngFor="let option of CATEGORIES" [value]="option">
            {{option}}
          </ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>AccessoryType</ion-label>
        <ion-select interface="popover" [(ngModel)]="product.accessoryType" name="category">
          <ion-select-option *ngFor="let option of ACCESSORY_TYPES " [value]="option">
            {{option}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </form>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="addAccessory()" color="medium">Add accessory</ion-button><br>
  <ion-button color="secondary" [routerLink]="'/accessories'" color="medium">Back to accessories</ion-button>
  <ion-button color="secondary" [routerLink]="'/products'" color="medium">Back to products</ion-button>
</ion-footer>

