<app-navbar [pageName]="'Bikes'"></app-navbar>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let bike of bikes; let i = index paginate: {itemsPerPage: pageNumber, currentPage: currentPg}">
      <ion-label>
        {{i + 1}}
      </ion-label>
      <ion-label>
        name: {{bike.name}}
      </ion-label>

      <button ion-button icon-only (click)="deleteBike(bike)" *ngIf="isLoggedIn()">
        <ion-icon name="trash-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToEditBike(bike)" *ngIf="isLoggedIn()">
        <ion-icon name="pencil-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToDetails(bike)">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <div class="paginate">
    <pagination-controls (pageChange)="currentPg = $event"></pagination-controls>
    <div>
      <small># of items per page</small>
      <button class="button" (click)="dec()"><i class="fa fa-minus"></i></button>
      <input class="input" [value]="pageNumber">
      <button class="button" (click)="inc()"><i class="fa fa-plus"></i></button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-button (click)="goToAddBike()" *ngIf="isLoggedIn()" color="medium">Add bike</ion-button>
</ion-footer>
