<app-navbar [pageName]="'ACCESSORIES'"></app-navbar>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let accessory of accessories; let i = index">
      <ion-label>
        {{i + 1}}
      </ion-label>
      <ion-label>
        name: {{accessory.name}}
      </ion-label>

      <button ion-button icon-only (click)="deleteAccessory(accessory)" *ngIf="isLoggedInAndHasRole()">
        <ion-icon name="trash-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToEditAccessory(accessory)" *ngIf="isLoggedInAndHasRole()">
        <ion-icon name="pencil-outline"></ion-icon>
      </button>
      <button ion-button icon-only (click)="goToDetails(accessory)">
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button (click)="goToAddAccessory()" *ngIf="isLoggedInAndHasRole()" color="medium">Add accessory</ion-button>
</ion-footer>
